/* CSS for Home Page */
body {
    margin: 20px;
    padding: 0;
    background-image: url(../img/minimalistWallpaper.jpg);
}

header {
    color: #fff;
    padding: 0px;
    text-align: right;
    margin: 5px;
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 5;
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
}

/*Buttons CSS Design*/
.buttons {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.buttons:hover{
    color: red;
}