/*CSS for Home Page*/

body {
    margin: 0;
    padding: 0;
    background-color: lightpink;
}

#page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 5px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 5;
    text-align: center;
    margin-bottom: 0px;
    width: 100%;
    position: fixed;
    bottom: 0;
}


/*CSS for Home Page - Navbar*/
.navbar {
    margin-top: 20px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
}

.navbar a:hover{
    color:yellow;
}

#content-wrap {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin: 10px;
}

#content2-wrap {
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
    margin: 10px;
}

#header1 {
    padding: 5px;
    background-color: #4CAF50;
}

/*Animated Header Designs*/
.animatedHeader {
    animation-fill-mode: forwards;
}

/*Animation Definitions*/
@keyframes slideInFromTop {
    from {
        transform: translateY(-100%);
    }
    to {
        transform: translateY(0);
    }
}

#animatedHeader1 {
    animation-name: slideInFromTop;
    animation-duration: 1s;
    padding: 5px;
}


